::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

#boxcontainer {
    width: 187px;
    height: 300px;
    position: absolute;
    overflow: scroll;
    top: 145px;
    left: 250px;
    background: white;
    border: 1px solid grey;
    box-shadow: 0 0 8px grey;
}

#textcontainer {
    display: none;
    width: 200px;
    position: absolute;
    background: white;
    border: 1px solid grey;
    box-shadow: 0 0 8px grey;
}

#maincontainer {
    overflow: auto;
    height: 700px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid grey;
    background: whitesmoke;
}

@media (min-width:768px) {#maincontainer{width:750px}}
@media (min-width:992px){#maincontainer{width:970px}}
@media (min-width:1200px){#maincontainer{width:1170px}}

#box {
    width: 168px;
    border: 1px solid grey;
}

h4 {
    padding: 0 0 0 5px;
    cursor: pointer;
}

.image {
    position: relative;
}

#button {
    position: absolute;
    cursor: pointer;
    fill: #900;
}

#button:hover {
    cursor: pointer;
    fill: #F00;
}
text {
    font-size: 7px;
    fill: black;
}